
.cart-card{
    width: 88%;
    height: 450px;
    display: flex;
    margin-top: 2em;
    
    border-top: 1px solid $color-light-grey;
    border-bottom: 1px solid $color-light-grey;
    @include respond(phone){
        height: 200px;
    }
    & select{
        @include custSelectElement;
        height: 40px;
        padding: 11px 0px;
        outline: none;
        & option {
            background-color: initial;
            color: initial;
            display: inline;
            padding: 1rem;
            font-size: small;
            border: 1px solid $color-black;
            @include respond(phone){
                padding: 0.5rem;
            }
            &:not(:first-child){
              margin-left: 5px;
            }
            
        }
        
    }
}
.cart-imgi{
    width: 12.5em ;
    height: 100% ;
}

.imp-and-btn-and-count{
    height: 100%;
    margin-left: auto;
    display: flex;
}

.btn-and-sum{
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding-right: 1em;
}

.attributes-div{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.color-incart{
    
    height: 40px;
    @include respond(phone){
        width: 30px;
        height: 30px;
    }
    
}


.attributes-container-forcolor{
    display: flex;
    
    width: fit-content;
    @include respond(phone){
        width: 120px;
        
    }
    & > div{
        width: 40px;
        &:not(:first-child){
            margin-left: 10px;
            @include respond(phone){
                margin-left: 0px;    
            }
        }
    }
}


.name{
    color: $color-dark-grey;
    font-weight: lighter;
}

.price{
    font-weight: bold;
    font-size: 1.4em;
}


.color-word-div-in-cart{
    font-size: small;
    font-weight: bold;
   
    
}


.attribute-word-div-in-cart{

    margin-top: 1em;
    font-size: small;
    font-weight: bold;
    font-size: 1.1em;
  
}

.cart-plus-minus-btn-incart{
    background-color: $color-white;
    outline: none;
    border: 1px $color-black solid;
    height: 2em;
    width: 2em;
    font-size: 2em;
    font-weight: lighter;
}

.thewholecart{
    margin-left: 6%;
    margin-top: 4em;
    margin-bottom: 4em;
    font-size: 1.6rem;
    @include respond(phone){
        font-size: 0.7rem;
    }
}

.cards-conteiner-incart{
    margin-top: 4em;
}

.count-incart{
    font-weight: bold;
    font-size: 20px;
}

.order-btn{
    border:none;
    background-color: $color-green;
    color: $color-white;
    padding: 0.8em 6em 0.8em 6em;
    border-radius: 2%;
    margin-top: 1em;
}

.calculated-numbers-incart{
    margin-top: 1.5em;
    font-size: 15px;
}

.image-and-arrow-div{
    height: 100%;
    position: relative;
}

.arrow-icons-in-cart{
    position: absolute;
    bottom: 1em;
    right: 1em;
    display: flex;
    
    width: 2.4em;
    justify-content: space-between;
    font-size: 15px;
}

.left-angle{
    color: $color-white;
    background-color: rgba($color-black, 0.685);
    height: 1em;
    width: 1em;
    text-align: center;
}
.right-angle{
    color: $color-white;
    background-color: rgba($color-black, 0.685);
    height: 1em;
    width: 1em;
    text-align: center;
}


