@import "./variables";

.description-conteiner{
    width: 85%;
    display: flex;
    margin: 110px auto 0px auto ;
    justify-content: space-between;
}




.name-div{
    color: $color-dark-grey;
    font-weight: lighter;
}

.information-div{
    width: 320px;
}

.add-to-cart-btn{
    border:none;
    background-color: $color-green;
    color: $color-white;
    padding: 1em 5em 1em 5em;
    border-radius: 2%;
    margin-top: 1em;
}



/*photos*/
.mainPhoto{
    height: 450px;
    width: 450px;
    border: 2px solid $color-white;
}
.secondary-Photos{
    height: 100px;
    width: 100px;
}

.secondary-photos-condeiner{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/**/




/*attributes-names*/
.attributes-word-div{
    margin-top: 1em;
    font-weight: bold;
}
/**/

/*attributes*/

.color{
    width: 1.5em;
    height: 1.5em;
    border: none;
}

.size{
    padding: 0.5em 0.8em;
    border: $color-black 1px solid;
}

.withUSB3Ports-touchIDinkeyboard-capacity{
    border: 1px solid $color-black;
    padding: 0.5em;
}

/**/


/*attributes containers*/
.attributes-container{
    margin-top: 0.4em;
    display: flex;
    gap: 0.8em;
}

.price-div{
    margin-top: 0.2em;
    font-weight: bold;
}

.des{
    margin-top: 1em;
    font-size: 0.9em;
}


/**/


/* media queries*/

@media only screen and  (min-width: 600px) and (max-width: 950px) {
    .mainPhoto{
        height: 150px;
        width: 150px;
    }
  }


  @media only screen  and (max-width: 600px) {
    .mainPhoto{
        height: 0px;
        width: 0px;
    }
  }

/**/