.nav-info-div{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 90%;
}

.category-btn{
    padding: 1.6em 2em;
    background: transparent;
    outline: none;
    border: none;
}


/*bag-icon*/

.bag-img-div{
    height: 40px;
    margin-top: 10px;
}

/*/


/*cart-icon*/

.quantity-circle{
    background-color: black;
    color: white;
    border-radius: 50%;
    width: 1.7em;
    height: 1.7em;
    font-size: 0.8em;
    position: absolute;
    margin-top: -2.7em;
    margin-left: 1em;
    text-align: center;
}

.quantitynum-innav{
    margin-top: 0.4em;
}

.cart-icon-div-innav{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/**/
/*currency*/
.list-of-prices-innav{
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

option{
   padding: 4px 10px;
}

.arrow-div-currency{
    margin-left: 25px;
    width: 20%;
    margin-top: -15px;
}

.currency-changer-in-nav{
    width: 4em;

}

.currency-symbol-in-nav{
    width: 60%;
    margin-top: 16px;
    margin-left:8px;
    font-size: 20px;
}
/**/

/*currency-and-cart-icon*/

.whole-currency-changer-in-nav{
    width: 50%;
}

.currency-and-cart-icon-innav{
    display: flex;
    width: 100px;
}

.cart-img{
    
}

/**/

