
.popup{
    position: absolute;
    width: 15rem;
    height: 23rem;
    box-shadow: rgba($color-medium-grey, 0.527) 0px 8px 24px;
    margin-top: -37rem;
    margin-left: 20rem;
    background-color: $color-white;
    z-index: 2;
    padding: 0.7rem;
    &__attributes{
        border: 1px solid $color-black;
        padding: 0.4rem;
        font-size: small;
    }
    &__color{
        width: 1.8rem;
        height: 1.8rem;
        border: none;
    }
    &__attributes--div{
        font-weight: bold;
        margin-top: 0.6rem;
        font-size: small;
        & div{
            display: flex;
            gap: 0.6rem;
            margin-top: 0.4rem;
        }
    }
    & button{
        border:none;
        background-color: $color-green;
        color: $color-white;
        padding: 0.5rem 1rem  0.5rem 1rem ;
        font-size: small;
        border-radius: 2%;
        margin-top: 1.6rem;
    }
}


