@import "./variables";




.product{
    &__card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        box-shadow: rgba($color-dark-grey, 0.171) 0px 8px 24px;
        height: 100%;
        &--whenhovered{
            box-shadow: rgba($color-black, 0.571) 0px 8px 24px;
        }
    }
    &__outofstock--word{
        position: absolute;
        font-size: 1.6rem;
        top:50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        z-index: 1;
        color: $color-dark-grey;
    }
    &__overlay{
        position: absolute;
        width: 28rem;
        height: 40rem;
        background-color: rgba($color-white, 0.568);
        z-index: 2;
    }

    // images 
    &__cart-icon--div{
        position: absolute;
        margin-top: 22rem;
        margin-left: 20rem;
        z-index: 1;
    }


    &__img--div{
        height: 23rem;
        width: 81%;
        & img{
            height: 22rem;
            width: 22rem;
        }
    }
    //
    //attributes div
    &__attributes{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 22rem;
        & h3 {
            color: $color-dark-grey;
            font-weight: lighter;
            font-size: 1.6rem;
            &:last-child{
                font-size: 1.5rem;
                font-weight: bold;
            }
        }
        & div{
            display: flex;
            gap: 0.3rem;
        }
        &--swatch{
            width: 1.6rem;
            height: 1.6rem;
        }
        &--capacity{
            padding: 0.5rem;
            font-size: small;
            border: 1px solid $color-black;
        }
    }
    //
}

