
.card-container{
    margin: auto;
    width: 90%;
    margin-top: 5rem;
    display: grid;
    
    grid-template-columns: repeat(auto-fill, 28rem);
    grid-auto-rows: 40rem;
    grid-gap: 7rem;
    margin-bottom: 2rem;
    border-top: $color-light-grey 1px solid;
    padding-top: 1rem;
    
    @include respond(phone){
            width: 100%;
            justify-content: center;
    }
}




.titles-div{
    margin-left: 5%;
    margin-top: 5rem;
    font-size: 2rem;
}