@import "./variables";

.card-container{
    margin: auto;
    width: 90%;
    margin-top: 50px;
    display: grid;
    
    grid-template-columns: repeat(auto-fill, 280px);
    grid-auto-rows: 400px;
    grid-gap: 70px;
    margin-bottom: 20px;
    border-top: $color-light-grey 1px solid;
    padding-top: 10px;
    
}

@media only screen and (max-width: 420px) {
    .card-container {
        width: 100%;
    }
  }


.titles-div{
    margin-left: 5%;
    margin-top: 50px;
}