@import "./variables";


/*attributes div*/

.attributes-div-inproduct{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 220px;
}



.brand-name-div-inproductlistpage{
    color: $color-dark-grey;
    font-weight: lighter;
}


.swatch-div{
    width: 1em;
    height: 1em;
}

.swatch-or-capacity-conteiner{
    display: flex;
    gap: 0.2em;
    
}


.capacity-div{
    padding: 0.3em;
    font-size: small;
}



.cardoverlay-inproduct{
    position: absolute;
    width: 280px;
    height: 400px;
   background-color: rgba($color-white, 0.568);
   box-shadow: rgba($color-dark-grey, 0.171) 0px 8px 24px;
    z-index: 2;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: rgba($color-dark-grey, 0.171) 0px 8px 24px;
    height: 100%;
   
}

.outofstock-word{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;
    color: $color-dark-grey;
}
/**/

/* images */

.is-incart-img-div{
    position: absolute;
    margin-top: 220px;
    margin-left: 200px;
    z-index: 1;
}


.hoveredCard{
    box-shadow: rgba($color-black, 0.571) 0px 8px 24px;
}

.img-in-product{
    height: 220px;
    width: 220px;
    
}

.img-in-product-div{
    height: 230px;
    width: 81%;
    
}




/* */
