:root {
  --color-green: rgb(5, 199, 79);
  --color-black: black;
  --color-transparent: transparent;
  --color-white: white;
  --color-light-grey: rgb(197, 197, 197);
}

.giveDarkGreyBackgroundColor {
  background-color: rgb(53, 52, 52);
}

.giveMediumGreyBackground {
  background-color: rgb(149, 157, 165);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-y: overlay;
  font-size: 10px;
}

.removeLinkDefaultStyle {
  text-decoration: none;
  color: inherit;
}

.card-container {
  margin: auto;
  width: 90%;
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, 28rem);
  grid-auto-rows: 40rem;
  grid-gap: 7rem;
  margin-bottom: 2rem;
  border-top: rgb(197, 197, 197) 1px solid;
  padding-top: 1rem;
}
@media (max-width: 37.5em) {
  .card-container {
    width: 100%;
    justify-content: center;
  }
}

.titles-div {
  margin-left: 5%;
  margin-top: 5rem;
  font-size: 2rem;
}

.product__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: rgba(53, 52, 52, 0.171) 0px 8px 24px;
  height: 100%;
}
.product__card--whenhovered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: rgba(53, 52, 52, 0.571) 0px 8px 24px;
  height: 100%;
}
.product__outofstock--word {
  position: absolute;
  font-size: 1.6rem;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
  color: rgb(53, 52, 52);
}
.product__overlay {
  position: absolute;
  width: 28rem;
  height: 40rem;
  background-color: rgba(255, 255, 255, 0.568);
  z-index: 2;
}
.product__cart-icon--div {
  position: absolute;
  margin-top: 22rem;
  margin-left: 20rem;
  z-index: 1;
}
.product__img--div {
  height: 23rem;
  width: 81%;
}
.product__img--div img {
  height: 22rem;
  width: 22rem;
}
.product__attributes {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 22rem;
}
.product__attributes h3 {
  color: rgb(53, 52, 52);
  font-weight: lighter;
  font-size: 1.6rem;
}
.product__attributes h3:last-child {
  font-size: 1.5rem;
  font-weight: bold;
}
.product__attributes div {
  display: flex;
  gap: 0.3rem;
}
.product__attributes--swatch {
  width: 1.6rem;
  height: 1.6rem;
}
.product__attributes select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  overflow-y: hidden;
  border: none;
  width: 100%;
  font-size: 16px;
  height: 30px;
  padding: 5px 0px;
}
.product__attributes select option {
  display: inline;
  padding: 0.5rem;
  font-size: small;
  border: 1px solid black;
}
.product__attributes select option:not(:first-child) {
  margin-left: 5px;
}

.cart-card {
  width: 88%;
  height: 450px;
  display: flex;
  margin-top: 2em;
  border-top: 1px solid rgb(197, 197, 197);
  border-bottom: 1px solid rgb(197, 197, 197);
}
@media (max-width: 37.5em) {
  .cart-card {
    height: 200px;
  }
}
.cart-card select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  overflow-y: hidden;
  border: none;
  width: 100%;
  height: 40px;
  padding: 11px 0px;
  outline: none;
}
.cart-card select option {
  background-color: initial;
  color: initial;
  display: inline;
  padding: 1rem;
  font-size: small;
  border: 1px solid black;
}
@media (max-width: 37.5em) {
  .cart-card select option {
    padding: 0.5rem;
  }
}
.cart-card select option:not(:first-child) {
  margin-left: 5px;
}

.cart-imgi {
  width: 12.5em;
  height: 100%;
}

.imp-and-btn-and-count {
  height: 100%;
  margin-left: auto;
  display: flex;
}

.btn-and-sum {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding-right: 1em;
}

.attributes-div {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.color-incart {
  height: 40px;
}
@media (max-width: 37.5em) {
  .color-incart {
    width: 30px;
    height: 30px;
  }
}

.attributes-container-forcolor {
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
@media (max-width: 37.5em) {
  .attributes-container-forcolor {
    width: 120px;
  }
}
.attributes-container-forcolor > div {
  width: 40px;
}
.attributes-container-forcolor > div:not(:first-child) {
  margin-left: 10px;
}
@media (max-width: 37.5em) {
  .attributes-container-forcolor > div:not(:first-child) {
    margin-left: 0px;
  }
}

.name {
  color: rgb(53, 52, 52);
  font-weight: lighter;
}

.price {
  font-weight: bold;
  font-size: 1.4em;
}

.color-word-div-in-cart {
  font-size: small;
  font-weight: bold;
}

.attribute-word-div-in-cart {
  margin-top: 1em;
  font-size: small;
  font-weight: bold;
  font-size: 1.1em;
}

.cart-plus-minus-btn-incart {
  background-color: white;
  outline: none;
  border: 1px black solid;
  height: 2em;
  width: 2em;
  font-size: 2em;
  font-weight: lighter;
}

.thewholecart {
  margin-left: 6%;
  margin-top: 4em;
  margin-bottom: 4em;
  font-size: 1.6rem;
}
@media (max-width: 37.5em) {
  .thewholecart {
    font-size: 0.7rem;
  }
}

.cards-conteiner-incart {
  margin-top: 4em;
}

.count-incart {
  font-weight: bold;
  font-size: 20px;
}

.order-btn {
  border: none;
  background-color: rgb(5, 199, 79);
  color: white;
  padding: 0.8em 6em 0.8em 6em;
  border-radius: 2%;
  margin-top: 1em;
}

.calculated-numbers-incart {
  margin-top: 1.5em;
  font-size: 15px;
}

.image-and-arrow-div {
  height: 100%;
  position: relative;
}

.arrow-icons-in-cart {
  position: absolute;
  bottom: 1em;
  right: 1em;
  display: flex;
  width: 2.4em;
  justify-content: space-between;
  font-size: 15px;
}

.left-angle {
  color: white;
  background-color: rgba(0, 0, 0, 0.685);
  height: 1em;
  width: 1em;
  text-align: center;
}

.right-angle {
  color: white;
  background-color: rgba(0, 0, 0, 0.685);
  height: 1em;
  width: 1em;
  text-align: center;
}

.description {
  width: 85%;
  display: flex;
  margin: 110px auto 3rem auto;
  justify-content: space-between;
  font-size: 1.6rem;
}
@media (max-width: 37.5em) {
  .description {
    font-size: 1.15rem;
  }
}
.description__secondary-photo--div {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.description__mainPhoto {
  height: 450px;
  width: 450px;
  border: 2px solid white;
}
@media (max-width: 56.25em) {
  .description__mainPhoto {
    height: 150px;
    width: 150px;
  }
}
@media (max-width: 37.5em) {
  .description__mainPhoto {
    height: 0px;
    width: 0px;
  }
}
.description__information-div {
  width: 320px;
}
.description__information-div h2:nth-child(2) {
  color: rgb(53, 52, 52);
  font-weight: lighter;
}
.description__attributes-word-div {
  margin-top: 1em;
  font-weight: bold;
}
.description select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  overflow-y: hidden;
  border: none;
  width: 100%;
  height: 40px;
  padding: 11px 0px;
  outline: none;
}
.description select option {
  display: inline;
  padding: 1rem;
  font-size: small;
  border: 1px solid black;
}
.description select option:not(:first-child) {
  margin-left: 5px;
}

.add-to-cart-btn {
  border: none;
  background-color: rgb(5, 199, 79);
  color: white;
  padding: 1em 5em 1em 5em;
  border-radius: 2%;
  margin-top: 1em;
}
@media (max-width: 37.5em) {
  .add-to-cart-btn {
    padding: 0.6em 3em 0.6em 3em;
  }
}

.secondary-Photos {
  height: 100px;
  width: 100px;
}

.color {
  width: 1.5em;
  height: 1.5em;
  border: none;
}

.size {
  padding: 0.5em 0.8em;
  border: black 1px solid;
}

.withUSB3Ports-touchIDinkeyboard-capacity {
  border: 1px solid black;
  padding: 0.5em;
}

.attributes-container {
  margin-top: 0.4em;
  display: flex;
  gap: 0.8em;
}

.price-div {
  margin-top: 0.2em;
  font-weight: bold;
}

.des {
  margin-top: 1em;
  font-size: 0.9em;
}

.minicart {
  background-color: white;
  width: 27rem;
  max-height: 51rem;
  right: 4rem;
  z-index: 4;
  position: absolute;
  font-size: 1.6rem;
}
@media (max-width: 37.5em) {
  .minicart {
    right: 2rem;
  }
}
.minicart select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  overflow-y: hidden;
  border: none;
  width: 100%;
  height: 30px;
  padding: 7px 0px;
  outline: none;
}
.minicart select option {
  background-color: initial;
  color: initial;
  display: inline;
  padding: 0.2rem;
  font-size: small;
  border: 1px solid black;
}
.minicart select option:not(:first-child) {
  margin-left: 5px;
}
.minicart-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.13);
  background-position: top;
  top: 5.8rem;
  left: 0;
  right: 0;
  bottom: -5000px;
  z-index: 3;
}
@media (max-width: 37.5em) {
  .minicart-overlay {
    top: 15rem;
    margin-top: -0.5rem;
  }
}
.minicart span:first-child {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 1.4rem;
}
.minicart span:nth-child(2) {
  font-size: 1.3rem;
}
.minicart__cards {
  overflow-y: auto;
  max-height: 35rem;
  padding: 1.6rem;
  border-top: 1px solid rgb(197, 197, 197);
  border-bottom: 1px solid rgb(197, 197, 197);
}
.minicart__fixed-part {
  max-height: 16rem;
  padding: 1rem;
}
.minicart__fixed-part div:nth-child(2) {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}
.minicart__fixed-part div:nth-child(2) button {
  width: 10rem;
  height: 4rem;
}
.minicart__fixed-part div:nth-child(2) button:nth-child(1) {
  color: black;
  background-color: white;
  outline: none;
  border: 1px solid black;
}
.minicart__fixed-part div:nth-child(2) button:nth-child(2) {
  color: white;
  background-color: rgb(5, 199, 79);
  border: 1px solid rgb(5, 199, 79);
}
.minicart__total {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  font-weight: bold;
}

.minicard {
  width: 98%;
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  border-top: 1px solid rgb(197, 197, 197);
  border-bottom: 1px solid rgb(197, 197, 197);
}
.minicard__attributes {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.minicard__attributes h2, .minicard__attributes p, .minicard__attributes div {
  font-size: 1.3rem;
}
.minicard__attributes h2 {
  font-weight: lighter;
}
.minicard__attributes p {
  font-weight: bold;
}
.minicard__attributes div div {
  display: flex;
  gap: 0.4rem;
}
.minicard__btn-img--div {
  display: flex;
  width: 55%;
}
.minicard__btn-img--div div:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding-right: 0.3rem;
  padding-left: 0.5rem;
}
.minicard__btn-img--div div:nth-child(1) button {
  background-color: white;
  color: black;
  border: 1px solid rgb(53, 52, 52);
  padding: 0.3rem 0.5rem;
}
.minicard__btn-img--div div:nth-child(2) img {
  width: 9.5rem;
  height: 17rem;
}
.minicard__attribute {
  font-size: 1.3rem;
  padding: 0.1rem 0.2rem 0.1rem 0.2rem;
  border: black 1px solid;
}
.minicard__color {
  width: 1.7rem;
  height: 1.7rem;
  border: none;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 90%;
}
@media (max-width: 37.5em) {
  .nav {
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid rgb(197, 197, 197);
  }
}
.nav__category--div button {
  padding: 2rem 2.2rem;
  background: transparent;
  outline: none;
  border: none;
}
@media (max-width: 37.5em) {
  .nav__category--div button {
    padding: 1.8rem 1.8rem;
  }
}
.nav__bag--div {
  height: 4rem;
  margin-top: 1rem;
  margin-right: 4rem;
  text-align: center;
}
@media (max-width: 37.5em) {
  .nav__bag--div {
    margin-right: 0;
  }
}
.nav__currency-cart-icon--div {
  display: flex;
  width: 10rem;
}
.nav__cart-icon--div {
  position: relative;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 37.5em) {
  .nav__cart-icon--div {
    margin-top: 1.4rem;
  }
}
.nav__cart-icon--div div {
  background-color: black;
  color: white;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  font-size: 1rem;
  position: absolute;
  top: 1.2rem;
  right: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 37.5em) {
  .nav__cart-icon--div div {
    top: -0.4rem;
  }
}

.currency-changer {
  width: 50%;
}
.currency-changer__currency-symbol {
  width: 60%;
  margin-top: 1.6rem;
  margin-left: 0.8rem;
  font-size: 2rem;
}
.currency-changer i {
  display: block;
  margin-left: 2.5rem;
  width: 20%;
  margin-top: -15px;
  font-size: 1.6rem;
}
.currency-changer__list-of-prices {
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.currency-changer__list-of-prices option {
  padding: 4px 10px;
  font-size: 1.6rem;
}

.popup {
  position: absolute;
  width: 15rem;
  height: 23rem;
  box-shadow: rgba(149, 157, 165, 0.527) 0px 8px 24px;
  margin-top: -37rem;
  margin-left: 20rem;
  background-color: white;
  z-index: 2;
  padding: 0.7rem;
}
.popup__attributes {
  border: 1px solid black;
  padding: 0.4rem;
  font-size: small;
}
.popup__color {
  width: 1.8rem;
  height: 1.8rem;
  border: none;
}
.popup__attributes--div {
  font-weight: bold;
  margin-top: 0.6rem;
  font-size: small;
}
.popup__attributes--div div {
  display: flex;
  gap: 0.6rem;
  margin-top: 0.4rem;
}
.popup button {
  border: none;
  background-color: rgb(5, 199, 79);
  color: white;
  padding: 0.5rem 1rem 0.5rem 1rem;
  font-size: small;
  border-radius: 2%;
  margin-top: 1.6rem;
}
.popup select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  overflow-y: hidden;
  border: none;
  width: 100%;
  height: 30px;
  padding: 6px 0px;
  outline: none;
}
.popup select option {
  display: inline;
  padding: 0.5rem;
  font-size: small;
  border: 1px solid black;
}
.popup select option:not(:first-child) {
  margin-left: 5px;
}

.filter {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  padding: 15px 20px;
  background-color: rgb(149, 157, 165);
  border: rgb(5, 199, 79) 1px solid;
  color: white;
  margin-left: 5%;
  margin-top: 5rem;
  cursor: pointer;
  position: relative;
  z-index: 3;
}
.filter__icon {
  font-size: 30px;
}
.filter__heading-div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.filter__options-div {
  position: absolute;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow-y: scroll;
  border: rgb(5, 199, 79) 1px solid;
  background-color: rgb(197, 197, 197);
  height: 200%;
  width: 70%;
  padding: 5px;
  bottom: -60px;
  left: 50%;
  transform: translateX(-50%) translateY(50%);
}
.filter__options-div div {
  margin: 5px;
  color: white;
  padding: 5px;
  font-size: 15px;
}
.filter__options-div div:hover, .filter__options-div div:active {
  background-color: rgb(53, 52, 52);
}/*# sourceMappingURL=style.css.map */