.description-conteiner{
    width: 85%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 8%;
    margin-top: 7%;
}

.mainPhoto{
    height: 450px;
    width: 450px;
    margin-right: 8em;
}
.secondary-Photos{
    height: 100px;
    width: 100px;
}

.secondary-photos-condeiner{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.information-div{
    
    width: 20em;
    margin-right: 6em;
}

.size-conteiner{
    display: flex;
    gap: 0.9em;
    margin-top: 0.3em;
}

.withUSB3Ports-container{
    display: flex;
}

.capacity-container{
    margin-top: 0.4em;
    display: flex;
    gap:0.8em
}

.capacity{
    border: 1px solid black;
    padding: 0.5em;
}


.touchIDinkeyboard-container{
    display: flex;
}

.add-to-cart-btn{
    border:none;
    background-color: rgb(5, 199, 79);
    color: white;
    padding: 1em 5em 1em 5em;
    border-radius: 2%;
    margin-top: 1em;
}

.size{
    padding: 0.5em 0.8em 0.5em 0.8em ;
    border: black 1px solid;
}

.price-word-div{
    margin-top: 1.2em;
    font-weight: bold;
}

.price-div{
    margin-top: 0.5em;
    font-weight: bold;
}

.size-word-div{
    font-weight: bold;
    margin-top: 2em;
}

.name-div{
    color: rgb(53, 52, 52);
    font-weight: lighter;
    margin-top: -0.5em;
}

.brand-name-div{
    margin-top: -0.2em;
}

.color-conteiner{
    margin-top: 0.3em;
    display: flex;
    gap: 0.3em;
}
.color{
    width: 1.5em;
    height: 1.5em;
    border: none;
    
}

.color-word-div{
    margin-top: 1.5em;
    font-weight: bold;
}



.capacity-name-div{
    margin-top: 0.9em;
    font-weight: bold;
}

.withUSB3Ports{
    border: 1px solid black;
    padding: 0.5em;
}

.withUSB3Ports-container{
    margin-top: 0.4em;
    display: flex;
    gap:0.8em
}

.touchIDinkeyboard{
    border: 1px solid black;
    padding: 0.5em;
}

.touchIDinkeyboard-container{
    margin-top: 0.4em;
    display: flex;
    gap:0.8em
}

.ID-name-div{
    margin-top: 0.9em;
    font-weight: bold;
}

.des{
    margin-top: 1em;
    font-size: 0.9em;
}

.usb-word-div{
    font-weight: bold;
}

