.img-in-mini-cart{
    width: 95px;
    height: 170px;
}


.minicart{
    background-color: white;
    width: 270px;
    max-height:  510px ;
    margin-left: 75vw;
    z-index: 4;
    position: absolute;
}

@media only screen and  (min-width: 700px) and (max-width: 1000px) {
    .minicart {
        margin-left: 60vw;
    }
  }

@media only  screen and (max-width: 700px) {
    .minicart {
        margin-left: 40vw;
    }
}


.minicart-overlay{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.13);
    background-position: top;
    top: 60px;
    left: 0;
    right: 0;
    bottom: -5000px;
    z-index: 3;
}





.miniCart-cards{
    overflow-y: auto;
    max-height: 350px;
    padding: 1em;
    border-top: 1px solid rgb(197, 197, 197);
    border-bottom: 1px solid rgb(182, 182, 182);
    
}
.mybagword-in-minicart{
    font-size: 1em;
    font-weight: bold;
    margin-left: 1em;
}

.minicard-card{
    width: 98%; 
    display: flex;
    flex-direction: row;
    margin-top: 1em;
    border-top: 1px solid rgb(197, 197, 197);
    border-bottom: 1px solid rgb(182, 182, 182);
}


/*attributes inminicart*/
.size-inminicart{
    font-size: 1em;
    padding: 0.1em 0.2em 0.1em 0.2em ;
    border: black 1px solid;
}

.h2-inminicart{
    font-size: 0.8em;
    font-weight: lighter;
}
.price-inminicart{
    font-size: 0.8em;
    font-weight: bold;
}

.attributes-inminicart{
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 0.3em;
}
.size-container-inminicart{
    display: flex;
    gap: 0.4em;
}

.color-conteiner-inminicart{
    margin-top: 0.3em;
    display: flex;
    gap: 0.1em;
}

.color-inminicart{
    width: 1.5em;
    height: 1.5em;
    border: none;
}

/**/


.imga-btns-inminicart{
    display: flex;
    width: 55%;
}

.btn-and-sum-inminicart{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding-right: 0.3em;
    padding-left: 0.5em;
    
}

.btns-inminicart{
    background-color: white;
    color: black;
    border: 1px solid rgb(68, 68, 68);
    padding: 0.3em 0.3em;
}





.fixed-part-minicart{
    max-height: 16em;
    padding: 1em;
}

.total-in-minicart{
    width: 100%;
    
    display: flex;
    justify-content: space-between;
    font-size: 0.8em;
    font-weight: bold;
    
}
.buttons-in-div-minicart{
    width: 100%;
    
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
    
}

.view-bag-minicart-btn{
    width: 8.5em;
    height: 2.5em;
    color: black;
    background-color: white;
    outline: none;
    border: 1px solid black;
}

.checkout-minicart-btn{
    width: 8.5em;
    height: 2.5em;
    color: white;
    background-color: rgb(5, 199, 79);
    border: 1px solid rgb(5, 199, 79);
}

