/*attributes div*/

.attributes-div-inproduct{
    display: flex;
    flex-direction: column;
    gap: 10px;
}



.brand-name-div-inproductlistpage{
    color: rgb(53, 52, 52);
    font-weight: lighter;
}


.swatch-div{
    width: 1em;
    height: 1em;
}

.swatch-or-capacity-conteiner{
    display: flex;
    gap: 0.2em;
    
}


.capacity-div{
    padding: 0.3em;
    font-size: small;
    border: 1px solid black;
}

/*overlay and card figure*/

.cardoverlay-inproduct{
    position: absolute;
    width: 320px;
    height: 400px;
   background-color: rgba(255, 251, 251, 0.568);;
    z-index: 2;
}
.card{
    padding: 1em 0em 1em 3em;
    box-shadow: rgba(149, 157, 165, 0.171) 0px 8px 24px;
    height: 400px;
    width: 320px;

}

.outofstock-word{
    position: absolute;
    margin-top: 7em;
    margin-left: 3em;
    z-index: 1;
    color: rgb(53, 52, 52);
}
/**/

/* images */

.is-incart-img-div{
    position: absolute;
    margin-top: 13em;
    margin-left: 12em;
}


.hoveredCard{
    box-shadow: rgba(18, 18, 19, 0.571) 0px 8px 24px;
}

.img-in-product{
    height: 220px;
    width: 220px;
    
}

.img-in-product-div{
    height: 230px;
    width: 81%;
}



/* */