.card-container{
    margin: auto;
    width: 90%;
    margin-top: 5%;
    display: grid;
    grid-template: repeat(3, 340px) / repeat(3, 1fr);
    grid-gap: 8em;
    
    border-top: 1px solid rgb(197, 197, 197);
    height: 1500px;
}



.titles-div{
    margin-left: 10%;
}