.img-in-product{
    height: 250px;
    width: 80%
}

.name-div{
    color: rgb(53, 52, 52);
    font-weight: lighter;
    
}

.brand-div-inproductlistpage{
    color: rgb(53, 52, 52);
    font-weight: lighter;
}




.price-div{
    padding-top: -10em;
}

.swatch-div{
    width: 1em;
    height: 1em;
    
}

.swatch-conteiner{
    display: flex;
    gap: 0.2em;
}

.cardoverlay-inproduct{
    position: absolute;
    width: 23%;
    height: 66.1%;
   /* background-color: rgba(255, 255, 255, 0.438);*/ 
    background-color: rgba(82, 80, 80, 0.507);
    
    z-index: 2;
}

.outofstock-word{
    position: absolute;
    margin-top: 7em;
    margin-left: 3em;
    z-index: 1;
    color: rgb(53, 52, 52);
}

.is-incart-img{
    position: absolute;
    margin-top: 13.5em;
    margin-left: 12em;
    
}
#isincart{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card{
    padding: 1em 0em 1em 3em;
    border: 2px solid black;
    height: 400px;
}